/* Responsive RRUI */
@import url("./small-screen/Modal.css") (max-width: 720px);
@import url("./small-screen/Snackbar.css") (max-width: 720px);
@import url("./small-screen/DatePicker.InputOverlay.css") (max-width: 720px);
/*@import url("./small-screen/Modal.Fullscreen.css") (max-width: 720px);*/
/*@import url("./small-screen/Expandable.Fullscreen.css") (max-width: 720px);*/

.rrui__button--border
{
	padding-left     : calc(0.3rem * 2.5);
	padding-right    : calc(0.3rem * 2.5);
	border        : 0.1em solid #03B2CB;
	border-radius : 0.3em;
}

.rrui__button--border .rrui__button__busy
{
	left   : calc(0.3rem * 2.5);
	bottom : calc(50% - 0.6em);
	width  : calc(100% - 2 * 0.3rem * 2.5);
}

.rrui__file-upload__area
{
	display          : inline-block;
	padding          : 10px;
	border           : 1px dashed #afafaf;
	border-radius    : 5px;
	background-color : #fbfbfb;
	cursor           : pointer;
	text-align       : center;
	line-height      : 1.5em;
}

.rrui__file-upload__area--dragged-over
{
	background-color : #3678D1;
	color            : white;
}

.rrui__slideout-menu__item
{
	text-transform : uppercase;
	letter-spacing : 0.13em;
	color : #ECF1F6;
}

.rrui__slideout-menu__item:hover
{
	text-decoration: none;
}

.rrui__slideout-menu__item:active
{
	background-color: #03B2CB;
}