/*===========================================================
= Base styles (may be removed, it's just an example)        =
===========================================================*/

body
{
	margin : 0;
	/* Always show vertical scrollbar to avoid page width jumping */
	overflow-y : scroll;
}

html, body, button, input, textarea, select
{
	font-family : Arial, Helvetica;
	font-size   : 20px;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea
{
	display : block;
	width   : calc(0.3rem * 60);
	margin  : 0;

	padding-top    : 0.15rem;
	padding-bottom : 0.15rem;

	outline    : none;
	appearance : none;
	box-sizing : border-box;

	border        : none;
	border-bottom : 2pt solid #C5D2E0;
	transition    : border 0.1s;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus
{
	border-bottom-color: #03B2CB;
}

input[type="text"][disabled],
input[type="tel"][disabled],
input[type="number"][disabled],
input[type="email"][disabled],
input[type="password"][disabled],
textarea[disabled]
{
	background-color : white;
}

/*===========================================================
= Buttons                                                   =
===========================================================*/

.rrui__button--primary .rrui__button__button,
.rrui__button--primary .rrui__button__link
{
	color : #03B2CB;
}

.rrui__button--primary .rrui__button__button:active,
.rrui__button--primary .rrui__button__link:active
{
	color: #2BD7F0;
}

.rrui__button__button,
.rrui__button__link
{
	background : none;
	border     : none;
	outline    : none;
	padding    : 0;

	white-space: nowrap;

	color: #3678D1;

	transition : color 30ms ease-out, opacity 150ms ease-out 100ms;
}

.rrui__button--busy .rrui__button__button,
.rrui__button--busy .rrui__button__link
{
	transition : color 30ms ease-out, opacity 200ms ease-out 300ms;
}

.rrui__button__button:active,
.rrui__button__link:active
{
	color: #4F9BFF;
}

.rrui__button .rrui__activity-indicator
{
	top : 0.1em;

	width  : 1em;
	height : 1em;

	transition : opacity 200ms ease-out;
}

.rrui__button--busy .rrui__activity-indicator
{
	transition-delay : 350ms;
}

/*===========================================================
= Activity indicator                                        =
===========================================================*/

.rrui__activity-indicator
{
	width  : 2em;
	height : 2em;

	stroke : black;
}

.rrui__activity-indicator svg
{
	animation: spinner-rotate 2s linear infinite;
	transform-origin: center center;
}

.rrui__activity-indicator circle
{
	stroke-dasharray  : 1,200;
	stroke-dashoffset : 0;
	animation: spinner-extent 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes spinner-rotate
{
	100%
	{
		transform: rotate(360deg);
	}
}

@keyframes spinner-extent
{
	0%
	{
		stroke-dasharray  : 1,200;
		stroke-dashoffset : 0;
	}

	50%
	{
		stroke-dasharray  : 89,200;
		stroke-dashoffset : -35;
	}

	100%
	{
		stroke-dasharray  : 89,200;
		stroke-dashoffset : -124;
	}
}

/*===========================================================
= Select                                                    =
===========================================================*/

.rrui__select
{
	color: black;
}

.rrui__select__options
{
	transition-property        : max-height, border-color, box-shadow, opacity;
	transition-duration        : 0ms; /* don't animate short lists */
	transition-timing-function : ease-out;

	opacity: 0;
	overflow-y: auto;

	background-color: white;

	/* prevent white background showing through the transparent border */
	/* http://stackoverflow.com/questions/7473200/transparent-border-expands-background-color-image */
	background-clip         : padding-box;
	-webkit-background-clip : padding-box;

	transform        : scaleY(0);
	transform-origin : 50% top 0px;

	/* 250ms - too slow for short lists */
	transition : all 150ms cubic-bezier(.76,.04,.46,.75) 0ms;
}

.rrui__select__options--simple-left-aligned
{
	left: calc(0.3rem * 4 * -1) !important;
}

.rrui__select__options--simple-right-aligned
{
	right : calc(0.3rem * 4 * -1) !important;
}

.rrui__select__options li
{
	opacity: 0;

	/* mitigates list labels overlapping with the underlying text creating a feeling of a mess */
	transition: opacity 150ms ease-out;
}

.rrui__select__options > li:first-child
{
	padding-top    : calc(2 * 0.3rem);
}

.rrui__select__options > li:last-child
{
	padding-bottom : calc(2 * 0.3rem);
}

.rrui__select__options--expanded
{
	box-shadow       : 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	opacity          : 1;
	transform        : scaleY(1);
	transform-origin : 50% top 0px;

	transition : all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.rrui__select__options--expanded li
{
	opacity: 1;
}

.rrui__select__option
{
	width: 100%;

	padding-left  : calc(0.3rem * 4);
	padding-right : calc(0.3rem * 4);

	padding-top    : calc(0.3rem * 1);
	padding-bottom : calc(0.3rem * 1);

	box-sizing: border-box;

	text-align: left;
}

.rrui__select__option:active
{
	background-color: #ECF1F6;
}

.rrui__select__option-icon
{
	margin-right : calc(0.3rem * 3);
}

.rrui__select__separator
{
	height           : 1pt;
	background-color : #B8BDC4;
}

.rrui__select__separator-option
{
	padding-top      : calc(0.3rem * 2);
	padding-bottom   : calc(0.3rem * 2);
}

.rrui__select--upward .rrui__select__options
{
	transform-origin: 50% bottom 0px;
}

.rrui__select__option--selected
{
	background-color: #ECF1F6;
}

.rrui__select__option-icon
{
	margin-right: 0.5em
}

.rrui__select__selected
{
	padding-left   : 0;
	padding-right  : 0;
	padding-top    : 0.15rem;
	padding-bottom : 0.15rem;

	border: none;
	border-bottom: 2pt solid #C5D2E0;
	transition: border 0.1s;
}

.rrui__select__selected:focus
{
	border-bottom-color: #03B2CB;
}

.rrui__select__option, .rrui__select__selected
{
	color: inherit;
	font-weight: normal;
}

.rrui__select__option:active, .rrui__select__selected:active
{
	color: #3678D1;
}

.rrui__select--expanded .rrui__select__selected
{
	color: #3678D1;
}

.rrui__select__selected--nothing,
/* For CSS rule specificity */
.rrui__select--expanded .rrui__select__selected--nothing
{
	color: #888C91;
}

.rrui__select--expanded .rrui__select__selected--autocomplete
{
	color: black;
}

.rrui__select__arrow
{
	width  : 0;
	height : 0;

	margin-left   : 0.35em;
	margin-bottom : 0.1em;

	opacity: 0.7;

	transition: opacity 100ms ease-out;

	/* border-width: arrow_height arrow_width/2 0 arrow_width/2 */
	border-width : 0.35em 0.2em 0 0.2em;

	border-style       : solid;
	border-left-color  : transparent;
	border-right-color : transparent;

	color: #B8BDC4;
}

.rrui__select--expanded .rrui__select__arrow
{
	opacity: 0.3;
}

/*===========================================================
= Checkbox                                                  =
===========================================================*/

/* http://tympanus.net/codrops/2013/10/15/animated-checkboxes-and-radio-buttons-with-svg/ */

.rrui__checkbox
{
	position: relative;
}

.rrui__checkbox__label
{
	position       : relative;
	padding-left   : 1.5em;
	vertical-align : bottom;
	color          : inherit;
	cursor         : default;
}

/* Checkbox label color */
.rrui__checkbox__label:active
{
	color: #3678D1;
}

.rrui__checkbox__input,
.rrui__checkbox__box,
.rrui__checkbox__checkmark
{
	position : absolute;
	top      : 0.05em;

	width  : 0.9em;
	height : 0.9em;
}

.rrui__checkbox__checkmark
{
	width  : 0.8em;
	height : 0.8em;

	margin-left : 0.1em;
	margin-top  : 0.1em;
}

/* Checkmark color */
.rrui__checkbox__checkmark path
{
	stroke       : #3678D1;
	stroke-width : 0.6em;
}

.rrui__checkbox__box
{
	border     : 0.1em solid #cfcfcf;
	transition : opacity 0.3s;
}

.rrui__checkbox--checked .rrui__checkbox__box
{
	border-color : #e7e7e7;
}

/* Checkbox border color */
.rrui__checkbox__input:active + .rrui__checkbox__box
{
	border-color: #3678D1;
}

/* Invalid checkbox border color */
.rrui__checkbox--invalid .rrui__checkbox__box
{
	border-color: #EB2010;
}

/* Checkbox error message */
.rrui__checkbox__error
{
	padding-top: 0.15rem;
	color: #D30F00;
}

/*===========================================================
= Switch                                                    =
===========================================================*/

.rrui__switch__groove
{
		width  : 1.65em;
		height : 1em;

		background    : white;
		box-shadow    : inset 0 0 0 0.0625em #d7d7d7;
		border-radius : 0.5em;
		transition    : all 0.40s cubic-bezier(.17,.67,.43,.98);
}

.rrui__switch--on .rrui__switch__groove
{
	box-shadow : inset 0 0 0 0.73em #4cd964;
}

.rrui__switch__knob
{
	width         : 0.875em;
	height        : 0.875em;
	border-radius : 0.4375em;
	top           : 0.0625em;
	left          : 0.0625em;
	background    : white;
	box-shadow    : inset 0 0 0 0.03em rgba(0,0,0,0.3), 0 0 0.05em rgba(0,0,0,0.05), 0 0.1em 0.2em rgba(0,0,0,0.2);
	transition    : all 0.25s ease-out;
}

.rrui__switch--on .rrui__switch__knob
{
	left : 0.7125em;
}

/*===========================================================
= Segmented control                                         =
===========================================================*/

.rrui__segmented-control__option
{
	padding-top    : 0.3rem;
	padding-bottom : 0.3rem;
	padding-left   : calc(0.3rem * 1.5);
	padding-right  : calc(0.3rem * 1.5);

	color            : black;
	background-color : transparent;
	border           : 0.1em solid #3678D1;
	border-radius    : 0.2em;
	outline          : none;

	transition : all 50ms ease-out;
}

.rrui__segmented-control__option:active
{
	color            : white;
	background-color : #4F9BFF;

	transition : none !important;
}

.rrui__rich__fallback .rrui__segmented-control__option:active
{
	color            : black;
	background-color : transparent;
}

.rrui__rich__fallback .rrui__segmented-control__option input
{
	margin-left: 0;
}

.rrui__segmented-control__option--selected
{
	color            : white;
	background-color : #3678D1;
}

/*===========================================================
= `react-modal`                                             =
===========================================================*/

/*
when changing css transition times here
also change `default_close_timeout` in ./modal.js accordingly
*/

.ReactModal__Overlay
{
	opacity: 0;
	/* "auto" introduces a vertical scrollbar when "bouncing" (animation) */
	/* overflow: auto; */
	overflow: hidden;
}

.ReactModal__Overlay--after-open
{
	opacity: 1;
}

.ReactModal__Overlay--before-close
{
	opacity: 0;
}

.ReactModal__Overlay--after-open,
.ReactModal__Overlay--before-close
{
	transition: opacity 100ms ease-out;
}

.ReactModal__Content
{
	outline: none;
}

.ReactModal__Content
{
	transform: scale(0.8);
}

.ReactModal__Content--after-open
{
	transform: scale(1);
}

.ReactModal__Content--before-close
{
	transform: scale(0.8);
}

.ReactModal__Content--after-open,
.ReactModal__Content--before-close
{
	transition: transform 120ms ease-out;
}

/* hides `react-modal` scrollbar when closing the modal */
.ReactModal__Overlay--before-close
{
	overflow: hidden;
}

/*
disables page scrolling when modal is presented,
but introduces page width jumps.
.ReactModal__Body--open
{
	height: 100%;
	overflow: hidden;
}
*/

/*===========================================================
= Modal                                                     =
===========================================================*/

.rrui__modal__header
{
	padding-left   : calc(4 * 0.3rem);
	padding-right  : calc(4 * 0.3rem);
	padding-top    : calc(3 * 0.3rem);
	padding-bottom : calc(3 * 0.3rem);

	border-top-left-radius  : 0.2rem;
	border-top-right-radius : 0.2rem;

	text-align : left;
	font-size  : 1.3rem;
}

.rrui__modal__actions
{
	padding-left   : calc(4 * 0.3rem);
	padding-right  : calc(2 * 0.3rem);
	padding-top    : calc(1.5 * 0.3rem);
	padding-bottom : calc(1.5 * 0.3rem);

	border-bottom-left-radius  : 0.2rem;
	border-bottom-right-radius : 0.2rem;
}

.rrui__modal__actions .rrui__button
{
	margin-right : calc(2 * 0.3rem);
}

.rrui__modal__actions .rrui__button:last-child
{
	margin-right : 0;
}

.rrui__modal__header--separated
{
	border-bottom: 1px solid #e0e0e0;
}

.rrui__modal__actions--separated
{
	border-top: 1px solid #e0e0e0;
}

.rrui__modal__content
{
	padding-left   : 1.2rem;
	padding-right  : 1.2rem;
	padding-bottom : 1.2rem;
}

.rrui__modal__content--no-bars
{
	padding-top   : calc(4 * 0.3rem);
	border-radius : 0.2rem;
}

.rrui__modal__content,
.rrui__modal__header,
.rrui__modal__actions
{
	background-color : white;
}

.rrui__modal__padding--top,
.rrui__modal__padding--bottom
{
	flex-basis : 80px;
}

.rrui__modal__padding--bottom
{
	flex-grow : 4;
}

.rrui__modal--could-not-close-because-busy
{
	animation: bounce_z 0.6s;
	transform: translate3d(0, 0, 0);
}

/* https://daneden.github.io/animate.css/ */
/* https://github.com/daneden/animate.css/blob/master/source/bouncing_entrances/bounceIn.css */
@keyframes bounce_z
{
	from, 25%, 47%, 72%, to
	{
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0%
	{
		transform: scale3d(1, 1, 1);
	}

	25%
	{
		transform: scale3d(.97, .97, .97);
	}

	47%
	{
		transform: scale3d(1.025, 1.025, 1.025);
	}

	72%
	{
		transform: scale3d(0.99, 0.99, 0.99);
	}

	to
	{
		transform: scale3d(1, 1, 1);
	}
}

.rrui__modal__content .rrui__form__error
{
	margin-bottom : 0;
}

/*===========================================================
= Form                                                      =
===========================================================*/

.rrui__form__actions
{
	margin-top : calc(0.3rem * 4);
}

.rrui__form__actions--right
{
	display         : flex;
	flex-direction  : row;
	justify-content : flex-end;
}

.rrui__form__actions--left-right
{
	display         : flex;
	flex-direction  : row;
	justify-content : space-between;
}

.rrui__form__field
{
	margin-bottom : calc(0.3rem * 2);
}

/*===========================================================
= Text input                                                =
===========================================================*/

.rrui__text-input
{
	/*
	"flex" is for the <label/> which goes after the <input/> in markup
	but is then placed before the <input/> using "order".

	The reason for this is "input:focus + label" selector,
	which highlights the <label/> when the input is focused.
	(there's no CSS selector for "label [before] input:focus")
	*/

	display        : flex;
	flex-direction : column;

	/*
	When changing this label color
	also change "input" and "textarea" placeholder color.
	*/
}

.rrui__text-input label
{
	order : -2;

	margin-top : -0.6em;

	padding-top    : 0.15rem;

	color : #9FA8B3;

	transform        : scale(0.8) translateY(0.6em);
	transform-origin : left top;
	transition       : color 0.1s ease-out, transform 0.1s ease-out;
	pointer-events   : none;
}

/* Either label or description */
.rrui__text-input p
{
	order: -2;

	margin-top    : 0;
	margin-bottom : 0;
}

.rrui__text-input__description
{
	transition : opacity 160ms ease-out;
}

.rrui__text-input--empty .rrui__text-input__description
{
	opacity : 0.6;
}

.rrui__text-input input,
.rrui__text-input textarea
{
	order: -1;
}

.rrui__text-input input:focus + label,
.rrui__text-input textarea:focus + label
{
	color: #03B2CB;
}

.rrui__text-input--invalid label
{
	color: #D30F00;
}

.rrui__text-input--invalid .rrui__text-input__field
{
	border-bottom-color: #EB2010 !important;
}

.rrui__text-input--empty label
{
	color     : #888C91;
	transform : translateY(1.4em) scale(1);
}

.rrui__text-input--empty input:focus + label,
.rrui__text-input--empty textarea:focus + label
{
	color: #888C91;
}

.rrui__text-input__error
{
	padding-top: calc(2 * 0.15rem);

	color: #D30F00;
}

/*===========================================================
= Tooltip                                                   =
===========================================================*/

.rrui__tooltip
{
	color: white;
	background: black;

	border-radius: 3pt;

	padding-left   : calc(0.3rem * 2);
	padding-right  : calc(0.3rem * 2);
	padding-top    : calc(0.3rem * 1);
	padding-bottom : calc(0.3rem * 1);

	margin-top : -0.3em;
	opacity    : 0;
	/* transform  : scale(0.8); */
	transform  : translateY(0.5em);
}

.rrui__tooltip--after-show
{
	opacity: 1;
	/* transform: scale(1); */
	transform: translateY(0);
}

.rrui__tooltip--before-hide
{
	opacity: 0;
	/* transform: scale(0.8); */
	transform: translateY(0.5em);
}

.rrui__tooltip--after-show,
.rrui__tooltip--before-hide
{
	transition: opacity 120ms ease-out, transform 120ms ease-out;
}

/*===========================================================
= Snackbar                                                  =
===========================================================*/

.rrui__snackbar__container
{
	z-index : 1;
}

.rrui__snackbar
{
	background : black;
	color      : white;

	border-top-left-radius  : 3pt;
	border-top-right-radius : 3pt;

	padding-left   : calc(0.3rem * 3);
	padding-right  : calc(0.3rem * 3);
	padding-top    : calc(0.3rem * 2);
	padding-bottom : calc(0.3rem * 2);
}

/*===========================================================
= Menu                                                      =
===========================================================*/

.rrui__menu,
.rrui__slideout-menu
{
	margin          : 0;
	padding         : 0;
	list-style-type : none;
}

.rrui__slideout-menu li:first-child
{
	padding-top    : calc(2 * 0.3rem);
}

.rrui__slideout-menu li:last-child
{
	padding-bottom : calc(2 * 0.3rem);
}

.rrui__slideout-menu
{
	background : black;
	opacity    : 0.9;
}

.rrui__slideout-menu--shown
{
	box-shadow : 0 0 0.2em rgba(0, 0, 0, 0.4);
}

.rrui__slideout-menu .rrui__menu__item
{
	color: #ECF1F6;
}

.rrui__slideout-menu .rrui__menu__item:active
{
	color: #BBD9FA;
}

.rrui__menu__item
{
	margin : 0;

	padding-top    : 0.3rem;
	padding-bottom : 0.3rem;

	padding-left  : calc(0.3rem * 2);
	padding-right : calc(0.3rem * 3);
}

.rrui__menu__item--selected
{
	color : #D4E8FF;
}

.rrui__slideout-menu-button
{
	display     : inline-block;
	padding     : calc(0.3rem * 1.5);
	line-height : 0;
}

.rrui__slideout-menu-button__icon
{
	display : block;
	width   : calc(0.3rem * 5);
	height  : calc(0.3rem * 5);
}

.rrui__slideout-menu-button__icon path
{
	fill: black;
}

.rrui__slideout-menu-button:active .rrui__slideout-menu-button__icon path
{
	fill: #018395;
}
