:root
{
  /* Colors */
  --rrui-white-color        : #ffffff;
  --rrui-black-color        : #000000;
  --rrui-accent-color       : #03b2cb;
  --rrui-accent-color-light : #2bd7f0;
  --rrui-error-color        : #d30f00;

  /* Gray is used as `<TextInput/>` `label` placeholder color. */
  --rrui-gray-color : #888888;

  /* `<DatePicker/>` disabled day color. */
  --rrui-gray-color-light : #cacaca;

  /* Lightest Gray is used as `<DatePicker/>`'s currently mouse-overed calendar day. */
  --rrui-gray-color-lightest : #f3f3f3;

  /* Modular grid unit. */
  --rrui-unit : 0.6rem;

  /* `<TextInput/>`, `<Select/>`, `<Button/>` height. */
  --rrui-input-height : calc(var(--rrui-unit) * 3);

  /* For `small-screen/*.Fullscreen.css` styles (only if used). */
  --rrui-fullscreen-input-height : calc(var(--rrui-unit) * 4);

  /* `<TextInput multiline/>` */
  --rrui-multiline-text-height                 : calc(var(--rrui-unit) * 7);
  --rrui-multiline-text-input-vertical-padding : calc(var(--rrui-unit) / 2);

  /* `<TextInput/>`, `<Select/>`, `<Autocomplete/>` input side padding. */
  --rrui-input-field-side-padding : 0rem;

  /* `<TextInput/>`, `<Select/>`, `<Autocomplete/>`, etc. */
  --rrui-input-field-background-color : var(--rrui-white-color);
  --rrui-input-field-background-color-focus : var(--rrui-input-field-background-color);
  --rrui-input-field-background-color-error : var(--rrui-input-field-background-color);
  --rrui-input-field-background-color-disabled : var(--rrui-input-field-background-color);
  --rrui-input-field-transition : border 0.1s;
  --rrui-input-field-text-color : var(--rrui-black-color);
  --rrui-input-field-font-size : inherit;

  /* `<Button/>` */
  --rrui-button-side-padding : 0rem;
  --rrui-button-border-radius : 0rem;

  /* `<Button/>` colors. */
  --rrui-button-background-color : transparent;
  --rrui-button-text-color : var(--rrui-accent-color);

  /* `<Button/>` colors :active. */
  --rrui-button-background-color-active : var(--rrui-button-background-color);
  --rrui-button-text-color-active : var(--rrui-accent-color-light);

  /* `<ExpandableMenu/>` */
  --rrui-collapsible-menu-item-side-padding : calc(var(--rrui-unit) * 2.5);

  /* `<Snackbar/>` */
  --rrui-snackbar-height       : calc(var(--rrui-unit) * 4);
  --rrui-snackbar-side-padding : calc(var(--rrui-unit) * 1.5);
  --rrui-snackbar-margin       : calc(var(--rrui-unit) * 2);
  --rrui-snackbar-notifications-count-size : 1.3em;
  --rrui-snackbar-notifications-count-background-color : #d30f00;

  /* `<Tooltip/>` */
  --rrui-tooltip-side-padding : calc(var(--rrui-unit) * 1.5);
  --rrui-tooltip-height       : calc(var(--rrui-unit) * 4);

  /* `<Switch/>` and `<Checkbox/>` */
  --rrui-control-label-margin : var(--rrui-unit);

  /* `<SlideOutMenu/>` */
  --rrui-slideout-menu-animation-duration : 220ms;

  /* Close icon */
  --rrui-close-margin : calc(var(--rrui-unit) * 2);
  --rrui-close-size   : calc(var(--rrui-unit) * 2);

  /* Menu button */
  --rrui-menu-button-animation-duration : 0.25s;

  /* Border radius */
  --rrui-border-radius-big   : 0.2rem;
  --rrui-border-radius-small : 0.1rem;

  /* "Cards" are `<Modal/>`, `<Select/>`, `<Autocomplete/>`, `<DatePicker/>`. */
  --rrui-card-background-color : var(--rrui-white-color);
  --rrui-card-text-color : var(--rrui-black-color);

  /* `<TextInput/>`, `<Select/>` and `<DatePicker/>` border. */
  --rrui-input-field-border-radius : 0rem;
  --rrui-input-field-border-width : 1px;
  --rrui-input-field-border-color : var(--rrui-gray-color-light);
  --rrui-input-field-border-color-focus : var(--rrui-accent-color);
  --rrui-input-field-border-color-error : var(--rrui-error-color);

  /* `<TextInput/>`, `<Select/>` and `<DatePicker/>` label. */
  --rrui-input-label-focus-top-offset : -70%;
  --rrui-input-label-focus-scale : 0.8;

  /* `<TextInput/>`, `<Select/>` and `<DatePicker/>` label color. */
  --rrui-input-field-label-color : var(--rrui-gray-color);
  --rrui-input-field-label-color-focus : var(--rrui-accent-color);
  --rrui-input-field-label-color-error : var(--rrui-error-color);

  /* `<Select/>` toggler color. */
  --rrui-select-toggler-text-color-active : var(--rrui-accent-color);
  --rrui-select-toggler-text-color-empty : var(--rrui-gray-color);

  /* `<Select/>` */
  --rrui-list-vertical-padding  : var(--rrui-unit);
  --rrui-list-item-height       : calc(var(--rrui-unit) * 4);
  --rrui-list-item-side-padding : calc(var(--rrui-unit) * 1.5);
  --rrui-list-item-icon-margin  : var(--rrui-unit);

  /* `<Select/>` options colors. */
  --rrui-list-item-background-color : var(--rrui-card-background-color);
  --rrui-list-item-text-color : var(--rrui-card-text-color);

  /* `<Select/>` options hover/focused colors. */
  --rrui-list-item-background-color-focus : var(--rrui-gray-color-lightest);
  --rrui-list-item-text-color-focus : var(--rrui-list-item-text-color);

  /* `<Select/>`'s currently selected option colors. */
  --rrui-list-item-background-color-selected : var(--rrui-accent-color);
  --rrui-list-item-text-color-selected : var(--rrui-white-color);

  /* `<Checkbox/>` size. */
  --rrui-checkbox-size : 0.9em;

  /* `<Checkbox/>` colors. */
  --rrui-checkbox-stroke-color : var(--rrui-black-color);
  --rrui-checkbox-fill-color : var(--rrui-input-field-background-color);
  --rrui-checkbox-fill-color-error : var(--rrui-input-field-background-color-error);
  --rrui-checkbox-color-focus : var(--rrui-accent-color);
  --rrui-checkbox-color-checked : var(--rrui-accent-color);
  --rrui-checkbox-color-checked-focus : var(--rrui-checkbox-color-focus);
  --rrui-checkbox-color-active : var(--rrui-accent-color-light);
  --rrui-checkbox-focus-ring-size : 250%;
  --rrui-checkbox-focus-ring-background-color : transparent;
  --rrui-checkbox-focus-ring-background-color-active : transparent;

  /* `<Modal/>`. */
  --rrui-modal-padding : calc(var(--rrui-unit) * 3);

  /* `<Modal/>` colors. */
  --rrui-modal-background-color : var(--rrui-card-background-color);
  --rrui-modal-text-color : var(--rrui-card-text-color);
  --rrui-modal-close-button-background-color-focus : var(--rrui-gray-color-lightest);

  /* `<SlideOutMenu/>` colors. */
  --rrui-slide-out-menu-background-color : var(--rrui-black-color);
  --rrui-slide-out-menu-text-color : var(--rrui-white-color);

  /* `<SlideOutMenu/>` colors :active. */
  --rrui-slide-out-menu-background-color-active : var(--rrui-accent-color);
  --rrui-slide-out-menu-text-color-active : var(--rrui-slide-out-menu-text-color);

  /* `<Snackbar/>` colors. */
  --rrui-snackbar-background-color : var(--rrui-black-color);
  --rrui-snackbar-text-color : var(--rrui-white-color);

  /* `<Switch/>` colors. */
  --rrui-switch-focus-outline-shadow : 0 0 0 0 transparent;
  --rrui-switch-knob-border-color-focus : var(--rrui-accent-color);
  --rrui-switch-background-color : var(--rrui-checkbox-fill-color);
  --rrui-switch-accent-color : var(--rrui-checkbox-color-checked);

  /* `<Switcher/>` colors. */
  --rrui-switcher-background-color : transparent;
  --rrui-switcher-text-color : var(--rrui-accent-color);

  /* `<Switcher/>` colors :active. */
  --rrui-switcher-background-color-active : var(--rrui-accent-color-light);
  --rrui-switcher-text-color-active : var(--rrui-white-color);

  /* `<Switcher/>` colors selected. */
  --rrui-switcher-background-color-selected : var(--rrui-accent-color);
  --rrui-switcher-text-color-selected : var(--rrui-white-color);

  /* `<Tooltip/>` colors. */
  --rrui-tooltip-background-color : var(--rrui-black-color);
  --rrui-tooltip-text-color : var(--rrui-white-color);

  /* `<ExpansionPanel/>` */
  --rrui-expansion-panel-heading-height : calc(var(--rrui-unit) * 4);
  --rrui-expansion-panel-heading-height-expanded : calc(var(--rrui-unit) * 5);
  --rrui-expansion-panel-animation-duration : 210ms;
  --rrui-expansion-panel-icon-size : var(--rrui-unit);
  --rrui-expansion-panel-side-padding : calc(var(--rrui-unit) * 2);
  --rrui-expansion-panel-content-padding-top : calc(var(--rrui-unit) * 2);
  --rrui-expansion-panel-content-padding-bottom : calc(var(--rrui-unit) * 2);
  --rrui-expansion-panel-border-color-focus : var(--rrui-accent-color);
  --rrui-expansion-panel-border-color-active : var(--rrui-accent-color-light);

  /* z-index */
  --rrui-z-index-overlay       : 100;
  --rrui-z-index-above-overlay : 101;
}