:root
{
  /* Base */
  --rrui-unit : 0.6rem;

  /* Everything */
  --rrui-input-height            : calc(var(--rrui-unit) * 3);
  --rrui-fullscreen-input-height : calc(var(--rrui-unit) * 4);

  /* `<TextInput multiline/>` */
  --rrui-multiline-text-height                 : calc(var(--rrui-unit) * 7);
  --rrui-multiline-text-input-vertical-padding : var(--rrui-unit);

  /* `<Button/>` */
  --rrui-button-side-padding : 0rem;

  /* `<Select/>` */
  --rrui-list-vertical-padding      : var(--rrui-unit);
  --rrui-list-item-side-padding     : calc(var(--rrui-unit) * 1.5);
  --rrui-list-item-height           : calc(var(--rrui-unit) * 4);
  --rrui-list-icon-margin           : var(--rrui-unit);

  /* `<Select menu/>` */
  --rrui-collapsible-menu-item-side-padding : calc(var(--rrui-unit) * 2.5);

  /* `<Snackbar/>` */
  --rrui-snackbar-height       : calc(var(--rrui-unit) * 4);
  --rrui-snackbar-side-padding : calc(var(--rrui-unit) * 1.5);
  --rrui-snackbar-margin       : calc(var(--rrui-unit) * 2);

  /* `<Tooltip/>` */
  --rrui-tooltip-side-padding : calc(var(--rrui-unit) * 1.5);
  --rrui-tooltip-height       : calc(var(--rrui-unit) * 4);

  /* `<Switch/>` and `<Checkbox/>` */
  --rrui-control-label-margin : var(--rrui-unit);

  /* Close icon */
  --rrui-close-margin : calc(var(--rrui-unit) * 2);
  --rrui-close-size   : calc(var(--rrui-unit) * 2);

  /* Border radius */
  --rrui-border-radius-big   : 0.2rem;
  --rrui-border-radius-small : 0.1rem;

  /* Colors */
  --rrui-white-color        : #ffffff;
  --rrui-black-color        : #000000;
  --rrui-accent-color       : #03b2cb;
  --rrui-accent-color-light : #2bd7f0;
  --rrui-error-color        : #d30f00;

  /* Gray is used as `<TextInput/>` `label` placeholder color. */
  --rrui-gray-color: #888888;

  /* Light Gray is used as `<TextInput/>`, `<Select/>` and `<DatePicker/>` bottom border color. */
  --rrui-gray-color-light: #cacaca;

  /* Lightest Gray is used as `<Select/>` options hover background color. */
  /* Lightest Gray is used as `<Select/>`'s currently selected option background color. */
  --rrui-gray-color-lightest: #F3F3F3;

  /* z-index */
  --rrui-z-index-overlay       : 100;
  --rrui-z-index-above-overlay : 101;
}