/* `<DatePicker/>`s goes fullscreen when expanded. */
/* Same as for `<Select/>`. */
.rrui__date-picker__collapsible
{
	position : fixed;
	top      : 0;
	bottom   : 0;
	right    : 0;
	left     : 0;
	margin   : 0;
	z-index  : var(--rrui-z-index-overlay);

	transform-origin : center center;
	transform        : scale(0.95);
	opacity          : 0;
	transition       : transform 120ms ease-out, opacity 60ms ease-out;
	max-height       : none !important;
}

/* `<DatePicker/>` goes fullscreen when expanded. */
/* Same as for `<Select/>`. */
.rrui__date-picker__collapsible.rrui__expandable--expanded
{
	transform : scale(1);
	opacity   : 1;
}

/* Show "Close" button for full-screen `<DatePicker/>`. */
/* Same as for `<Select/>`. */
.rrui__date-picker__close
{
	display : block;
	z-index : var(--rrui-z-index-overlay);
}