:root {
	/* Smaller spacing. */
	--rrui-modal-padding: calc(var(--rrui-unit) * 1.5);
	--rrui-modal-padding--horizontal: var(--rrui-modal-padding);
	--rrui-modal-padding--vertical: var(--rrui-modal-padding);
}

/* Center the `<Modal/>` vertically. */
.rrui__modal__vertical-margin--top,
.rrui__modal__vertical-margin--bottom {
	flex-grow: 1;
	flex-basis: auto;
}