

/* Center the `<Modal/>` vertically. */
.rrui__modal__vertical-margin--top,
.rrui__modal__vertical-margin--bottom {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-flex-basis: auto;
	    -ms-flex-preferred-size: auto;
	        flex-basis: auto;
}