/* Center `<Snackbar/>` on screen. */
.rrui__snackbar
{
	width: 100%;
	border-radius: 0;
	box-sizing: border-box;
	margin: 0;
}

.rrui__snackbar__count
{
	transform: translateY(-100%);
	right: 0.3em;
	top: 0.3em;
}