/* Center `<Snackbar/>` on screen. */
.rrui__snackbar__container
{
	margin : 0;
	margin-bottom : var(--rrui-unit);
	justify-content : center;
}

/* Full-width `<Snackbar/>`. */
.rrui__snackbar__container--wide
{
	margin-bottom : 0;
}

/* Full-width `<Snackbar/>` border radius. */
.rrui__snackbar__container--wide .rrui__snackbar
{
	border-radius : 0;
}