.rrui__snackbar
{
	width: 100%;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
}

.rrui__snackbar__count
{
	-webkit-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	        transform: translateY(-100%);
	right: 0.3em;
	top: 0.3em;
}