/* Reset the default `<button/>` styles */
.rrui__button-reset
{
	margin      : 0;
	padding     : 0;
	white-space : nowrap;
	appearance  : none;
	border      : none;
	background  : none;
	cursor      : pointer;
	font-size   : inherit;
	font-family : inherit;
	font-weight : inherit;
	font-style  : inherit;
	user-select : none;
	/* box-sizing  : border-box; */
}

/* This CSS class can be used on its own in applications. */
/* Because of that, `outline: none` is added here too. */
/* Developers should define `:focus` styles for buttons. */
/* Didn't add `:focus` specifier for lesser CSS rule priority. */
.rrui__button-reset:not(.rrui__outline--default)
{
	outline : none;
}

.rrui__button-reset--link:hover
{
	text-decoration : none;
}