.rrui__button
{
	display         : inline-flex;
	align-items     : center;
	justify-content : center;
	position        : relative;
	height          : calc(0.3rem * 8);
	padding-left    : calc(0.3rem * 2.5);
	padding-right   : calc(0.3rem * 2.5);
	box-sizing      : border-box;
	transition      : background-color 30ms ease-out, color 30ms ease-out, border-color 30ms ease-out;
	cursor          : pointer;
}

.rrui__button--busy,
.rrui__button--disabled
{
	/* "pointer-events" prevents "cursor: wait" from working */
	pointer-events : none;
}

.rrui__button--stretch
{
	display : flex;
	width   : 100%;
}

.rrui__button__busy
{
	position   : absolute;
	left       : calc(0.3rem * 2.5);
	bottom     : calc((100% - 1.2em) / 2);
	width      : calc(100% - 2 * 0.3rem * 2.5);
	height     : 0.1em;
	overflow   : hidden;
	opacity    : 0;
	transition : opacity 300ms ease-out 0ms;
}

.rrui__button__busy--after-show
{
  opacity    : 1;
  transition : opacity 700ms ease-out 200ms;
}

.rrui__button__busy:before
{
	display          : block;
	position         : absolute;
	content          : "";
	left             : -40%;
	width            : 40%;
	height           : 100%;
	background-color : currentColor;
	animation        : rrui__button__busy 2s ease-in infinite;
}

@keyframes rrui__button__busy
{
	from { left : -40%; width : 40%;  }
	50%  {              width : 70%;  }
	70%  {              width : 85%; }
	80%  { left : 30%;  width : 100%; }
	95%  { left : 120%; }
	to   { left : 100%; }
}

/* Button colors */

.rrui__button
{
	color : #3678D1;
}

.rrui__button:active
{
	color : #4F9BFF;
}

.rrui__button--link:hover
{
	text-decoration : none;
}