/* http://tympanus.net/codrops/2013/10/15/animated-checkboxes-and-radio-buttons-with-svg/ */

.rrui__checkbox .rrui__input
{
	display     : flex;
	align-items : center;
}

.rrui__checkbox .rrui__input--multiline
{
	align-items : flex-start;
}

.rrui__checkbox__label
{
	display        : inline-block;
	padding-left   : 0.5em;
	vertical-align : bottom;
	color          : inherit;
	user-select    : none;
}

.rrui__checkbox__label:not(.rrui__checkbox__label--multiline)
{
	white-space : nowrap;
}

.rrui__checkbox__label--multiline
{
	/* A fix for IE 11 to force it wrap `<label/>` text */
	flex : 1 0 0;
}

.rrui__checkbox__label--fallback
{
	padding-left : 0;
}

.rrui__checkbox__input
{
	position       : absolute;
	display        : inline-block;
	margin         : 0;
	vertical-align : bottom;
	z-index        : 100;
	opacity        : 0;
}

.rrui__checkbox__input,
.rrui__checkbox__label
{
	cursor : pointer;
}

.rrui__checkbox--disabled .rrui__checkbox__input,
.rrui__checkbox--disabled .rrui__checkbox__label
{
	cursor : default;
}

.rrui__checkbox__checkbox
{
	position    : relative;
	flex-shrink : 0;
	width       : 1.15em;
	height      : 1.15em;
}

.rrui__checkbox__input
{
	position : absolute;
	left     : -40%;
	top      : -40%;
	width    : 180%;
	height   : 180%;
}

.rrui__checkbox__box
{
	width          : 100%;
	height         : 100%;
	fill           : currentColor;
	color          : black;
	user-select    : none;
	pointer-events : none;
}

.rrui__checkbox__box--checked
{
	color : #0093C4;
}

.rrui__checkbox__box-outline
{
	opacity : 0;
	fill    : black;
}

/* Checkbox border color (:focus) */
.rrui__checkbox__input:focus + .rrui__checkbox__box .rrui__checkbox__box-outline
{
	opacity : 1;
	fill    : #0093C4;
}

/* Checkbox border color (:active) */
.rrui__checkbox:active .rrui__checkbox__box-outline,
.rrui__checkbox__input:active + .rrui__checkbox__box .rrui__checkbox__box-outline
{
	opacity : 1;
	fill : #5CD6FF;
}

/* Checkbox border color (:active when checked) */
.rrui__checkbox:active .rrui__checkbox__box--checked,
.rrui__checkbox__input:active + .rrui__checkbox__box--checked
{
	color : #5CD6FF;
}

/* Checkbox border color (invalid) */
.rrui__checkbox--invalid .rrui__checkbox__box-outline
{
	opacity : 1;
	fill    : #EB2010;
}