/* http://tympanus.net/codrops/2013/10/15/animated-checkboxes-and-radio-buttons-with-svg/ */

.rrui__checkbox .rrui__input
{
	display     : flex;
	align-items : center;
}

.rrui__checkbox .rrui__input--multiline
{
	align-items : flex-start;
}

.rrui__checkbox__label
{
	display        : inline-block;
	/* Using padding instead of margin here to make the gap clickable. */
	padding-left   : var(--rrui-control-label-margin);
	vertical-align : bottom;
	color          : inherit;
	user-select    : none;
}

.rrui__checkbox__label:not(.rrui__checkbox__label--multiline)
{
	white-space : nowrap;
}

.rrui__checkbox__label--multiline
{
	/* A fix for IE 11 to force it wrap `<label/>` text */
	flex : 1 0 0;
}

.rrui__checkbox__input,
.rrui__checkbox__label
{
	cursor : pointer;
}

.rrui__checkbox--disabled .rrui__checkbox__input,
.rrui__checkbox--disabled .rrui__checkbox__label
{
	cursor : default;
}

.rrui__checkbox__checkbox
{
	position    : relative;
	flex-shrink : 0;
	width       : calc(var(--rrui-unit) * 2);
	height      : calc(var(--rrui-unit) * 2);
}

.rrui__checkbox__input
{
	position : absolute;
	left     : -40%;
	top      : -40%;
	width    : 180%;
	height   : 180%;
	margin   : 0;
	opacity  : 0;
}

.rrui__checkbox__box
{
	width          : 100%;
	height         : 100%;
	fill           : currentColor;
	user-select    : none;
	pointer-events : none;
}

/* Checkbox color (:checked) */
.rrui__checkbox__box--checked,
/* Checkbox color (:focus) */
.rrui__checkbox__input:focus + .rrui__checkbox__box
{
	color : var(--rrui-accent-color);
}

/* Checkbox color (:checked / :active) */
.rrui__checkbox:active .rrui__checkbox__box,
.rrui__checkbox__input:active + .rrui__checkbox__box
{
	color : var(--rrui-accent-color-light);
}

/* Checkbox color (:invalid) */
.rrui__checkbox--invalid .rrui__checkbox__box
{
	color : var(--rrui-error-color);
}