/*
.rrui__close--top-right
{
	position : fixed;
	top      : var(--rrui-close-margin);
	right    : var(--rrui-close-margin);
	z-index  : 1;
}
*/

.rrui__close--bottom-right
{
	position : fixed;
	bottom   : var(--rrui-close-margin);
	right    : var(--rrui-close-margin);
	z-index  : 1;
}

.rrui__close__icon
{
	width      : var(--rrui-close-size);
	height     : var(--rrui-close-size);
	box-sizing : content-box;
}

.rrui__close:active .rrui__close__icon-path,
.rrui__button:active .rrui__close__icon-path
{
	color : var(--rrui-accent-color);
}

.rrui__close__icon-path
{
	color  : var(--rrui-black-color);
	stroke : currentColor;
}

.rrui__close
{
	padding : calc(var(--rrui-close-size) / 2);
	margin  : calc(var(--rrui-close-size) * -1 / 2);
}