.rrui__close--top-right
{
	position : fixed;
	top      : calc(0.3rem * 2);
	right    : calc(0.3rem * 2);
	z-index  : 1;
}

.rrui__close--bottom-right
{
	position : fixed;
	bottom   : calc(0.3rem * 2);
	right    : calc(0.3rem * 2);
	z-index  : 1;
}

.rrui__close__icon
{
	width        : calc(0.3rem * 4);
	height       : calc(0.3rem * 4);
	box-sizing   : content-box;
}

.rrui__close__icon:active .rrui__close__icon-path
{
	color : #03B2CB;
}

.rrui__close__icon-path
{
	color  : black;
	stroke : currentColor;
}

.rrui__close
{
	padding : calc(0.3rem * 2);
	margin  : calc(0.3rem * -2);
}