/* DayPicker styles (version 7.1.10) */

.DayPicker {
	user-select : none;
}

.DayPicker-wrapper {
	position : relative;
}

.DayPicker-NavButton {
	position : absolute;
	top      : -0.25em;
	cursor   : pointer;
	width    : 1.5em;
	height   : 1.5em;
}

.DayPicker-NavButton--prev {
	left: 0.25em;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: currentColor; color: %2303b2cb;'%3E%3Cpath d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z'%3E%3C/path%3E%3C/svg%3E");
}

.DayPicker-NavButton--next {
	right: 0.25em;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: currentColor; color: %2303b2cb;'%3E%3Cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'%3E%3C/path%3E%3C/svg%3E");
}

.DayPicker-NavButton--interactionDisabled {
	display: none;
}

.DayPicker-Caption {
	/* iPhone moves <select/>s around the screen on focus when using `display: table-caption`. */
	/* display: table-caption; */
	text-align: center;
	margin-bottom: 1em;
}

.DayPicker-Weekdays {
	margin-top: 1em;
	display: table-header-group;
}

.DayPicker-WeekdaysRow {
	display: table-row;
}

.DayPicker-Weekday {
	display: table-cell;
	padding: 0.5em;
	font-size: 0.875em;
	text-align: center;
	color: var(--rrui-gray-color);
}

.DayPicker-Weekday abbr[title] {
	border-bottom: none;
	text-decoration: none;
}

.DayPicker-Body {
	display: table-row-group;
}

.DayPicker-Week {
	display: table-row;
}

.DayPicker-Day {
	display: table-cell;
	padding: 0.5em;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	border-radius: 50%;
}

.DayPicker--interactionDisabled .DayPicker-Day {
	cursor: default;
}

/* Default modifiers */

.DayPicker-Day--today:not(.DayPicker-Day--selected):not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside)
{
	/*
	color: var(--rrui-accent-color);
	font-weight: 700;
	*/
	/* border: 1px solid var(--rrui-gray-color-lightest); */
	/*
	border-radius: 50%;
	box-shadow: 0 0 1px var(--rrui-black-color);
	*/
	color: #d0021b;
	font-weight: 700;
}

.DayPicker-Day--outside
{
	cursor: default;
	color: var(--rrui-gray-color);
}

.DayPicker-Day--disabled
{
	color: var(--rrui-gray-color-light);
	cursor: default;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside)
{
	color: var(--rrui-white-color);
	background-color: var(--rrui-accent-color);
}

/* .DayPicker:not(.DayPicker--interactionDisabled) ... */
.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover
{
	background-color: var(--rrui-list-item-background-color-focus);
}

.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):active
{
	color: var(--rrui-white-color);
	background-color: var(--rrui-accent-color-light);
}

/* =============================== */
/* Custom `react-daypicker` styles */
/* =============================== */

.DayPicker-Months
{
	margin-top : 0.5em;
}

.DayPicker-Month
{
	margin-top : 0;
}

.DayPicker-MonthSelect
{
	margin-right : 0.3em;
}

.DayPicker-MonthSelect,
.DayPicker-YearSelect
{
	display  : inline-block;
	position : relative;
}

.DayPicker-wrapper,
.DayPicker-Day,
.DayPicker-NavButton
{
	outline: none
}

/* https://github.com/gpbl/react-day-picker/issues/708 */
/*
.DayPicker-NavButton:active
{
	color : var(--rrui-accent-color-light);
}
*/

/* ----------------------------------------------------- */
/* -                  `<DatePicker/>`                  - */
/* ----------------------------------------------------- */

.rrui__date-picker
{
	position: relative;
}

.rrui__date-picker .rrui__expandable
{
	min-width  : 100%;
	box-sizing : border-box;
	text-align : center;
	background-color : var(--rrui-white-color);
}

.rrui__date-picker .rrui__expandable__content
{
	display : inline-block;

	padding-top      : calc(var(--rrui-unit) * 2);
	padding-bottom   : calc(var(--rrui-unit) * 2);
	padding-left     : calc(var(--rrui-unit) * 2);
	padding-right    : calc(var(--rrui-unit) * 2);
}

.rrui__date-picker__calendar abbr
{
	text-decoration : none;
}

.rrui__date-picker__input-overlay
{
	/*
	Set `display` to `block` for fullscreen `.rrui__expandable` design.
	This works around the mobile keyboard appearing from the bottom.
	display  : block;
	*/
	display  : none;
	position : absolute;
	top      : 0;
	width    : 100%;
	height   : 100%;
	z-index  : 1;
}

.rrui__date-picker__close
{
	/*
	Set `display` to `block` for fullscreen `.rrui__expandable` design.
	display      : block;
	*/
	display      : none;
}

.rrui__date-picker:focus
{
	display: none
}

.rrui__date-picker__icon
{
	display  : none;
	position : absolute;
	top      : calc((var(--rrui-input-height) - var(--rrui-unit) * 1.5) / 2);
	right    : calc(var(--rrui-unit) / 2);
	width    : calc(var(--rrui-unit) * 1.5);
	height   : calc(var(--rrui-unit) * 1.5);
	z-index  : 1;
	opacity  : 0.5;
	color    : var(--rrui-black-color);
}

.rrui__date-picker .rrui__expanded--expanded .rrui__date-picker__icon
{
	opacity : 1;
	color   : var(--rrui-accent-color);
}

.rrui__date-picker__icon:active
{
	opacity : 1;
	color   : var(--rrui-accent-color-light);
}