.rrui__ellipsis
{
	width    : calc(var(--rrui-unit) * 1.5);
	opacity  : 0.7;
}

.rrui__ellipsis__size
{
	position       : relative;
	width          : 100%;
	padding-bottom : 22%;
}

.rrui__ellipsis__dots
{
	position : absolute;
	display  : flex;
	width    : 100%;
	height   : 100%;
}

.rrui__ellipsis__dot
{
	width            : 22%;
	height           : 100%;
	margin-right     : 16.5%;
	border-radius    : 50%;
	background-color : currentColor;
	opacity          : 0.4;
}

.rrui__ellipsis__dot--1
{
	animation : 1.1s linear 0s infinite rrui__ellipsis;
}

.rrui__ellipsis__dot--2
{
	animation : 1.1s linear 0.36666667s infinite rrui__ellipsis;
}

.rrui__ellipsis__dot--3
{
	margin-right : 0;

	animation : 1.1s linear 0.73333333s infinite rrui__ellipsis;
}

@keyframes rrui__ellipsis
{
	25% { opacity: 1   }
	50% { opacity: 0.4 }
}