/* Styles are from Material UI. */
/* https://material-ui.com/demos/expansion-panels/ */

.rrui__expansion-panel
{
	background-color: var(--rrui-white-color);
}

.rrui__expansion-panel--expanded
{
	/* margin: 16px 0; */
}

/*
.rrui__expansion-panel:before
{
	top: -1px;
	left: 0;
	right: 0;
	height: 1px;
	content: "";
	opacity: 1;
	position: absolute;
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	background-color: ;
}

.rrui__expansion-panel--expanded:before
{
	opacity: 0;
}
*/

.rrui__expansion-panel__header
{
	position: relative;
	width: 100%;
	height: var(--rrui-expansion-panel-heading-height);
	transition: height var(--rrui-expansion-panel-animation-duration) cubic-bezier(0.4, 0, 0.2, 1);
	font-weight: normal;
	text-align: left;
}

.rrui__expansion-panel__header--expanded
{
	height: var(--rrui-expansion-panel-heading-height-expanded);
}

.rrui__expansion-panel__header--toggle-icon-end
{
	background-color: var(--rrui-gray-color-lightest);
}

.rrui__expansion-panel__header--toggle-icon-end:focus
{
	box-shadow: inset 0 0 0 1px var(--rrui-gray-color-light);
}

/* CSS select specificity is to support <Collapsible/>s inside <Collapsible/>s. */
.rrui__expansion-panel__header--toggle-icon-start:focus > .rrui__expansion-panel__heading
{
	padding-bottom: 0.15em;
	border-bottom: 1px solid var(--rrui-expansion-panel-border-color-focus);
}

/* CSS select specificity is to support <Collapsible/>s inside <Collapsible/>s. */
.rrui__expansion-panel__header--toggle-icon-start:active > .rrui__expansion-panel__heading
{
	border-bottom: 1px solid var(--rrui-expansion-panel-border-color-active);
}

.rrui__expansion-panel__header--toggle-icon-start.rrui__expansion-panel__header--expanded
{
	height: var(--rrui-expansion-panel-heading-height);
}

.rrui__expansion-panel__content-wrapper
{
	overflow: hidden;
	transition: height var(--rrui-expansion-panel-animation-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.rrui__expansion-panel__header,
.rrui__expansion-panel__content
{
	padding-left: var(--rrui-expansion-panel-side-padding);
	padding-right: var(--rrui-expansion-panel-side-padding);
}

.rrui__expansion-panel__content
{
	padding-top: var(--rrui-expansion-panel-content-padding-top);
	padding-bottom: var(--rrui-expansion-panel-content-padding-bottom);
}

.rrui__expansion-panel__icon
{
	position: absolute;
	top: 50%;
	width: var(--rrui-expansion-panel-icon-size);
	transition: transform var(--rrui-expansion-panel-animation-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.rrui__expansion-panel__icon--end
{
	right: var(--rrui-expansion-panel-side-padding);
	transform: translateY(-50%) rotate(0deg);
}

.rrui__expansion-panel__icon--expanded.rrui__expansion-panel__icon--end
{
	transform: translateY(-50%) rotate(180deg)
}

.rrui__expansion-panel__icon--start
{
	left: 0;
	margin-right: var(--rrui-unit);
	transform: translateY(-50%) rotate(-90deg);
}

.rrui__expansion-panel__icon--expanded.rrui__expansion-panel__icon--start
{
	transform: translateY(-50%) rotate(0deg)
}