.rrui__expandable-list--left-aligned
{
	left : 0;
}

.rrui__expandable-list--right-aligned
{
	right : 0;
}

.rrui__options-list--left-aligned
{
	left : calc(var(--rrui-options-list-negative-side-margin) * -1);
}

.rrui__options-list--right-aligned
{
	right : calc(var(--rrui-options-list-negative-side-margin) * -1);
}