.rrui__input
{
	/* `position: relative` is for the floating label absolute positioning */
	position : relative;
}

.rrui__input,
.rrui__input-label
{
	height : var(--rrui-input-height);
	font-size : var(--rrui-input-field-font-size);
}

/* `.rrui__input:not(.rrui__input--multiline)`
   would result in issues with this CSS selector being
   too specific and therefore taking higher priority */
.rrui__input--multiline
{
	height : auto;
}