.rrui__input-field
{
	border-radius : 0;
	/* Some web browsers add <input/> padding by default */
	padding       : 0;
	appearance    : none;
	font-size     : inherit;
	font-family   : inherit;
	font-weight   : inherit;
	font-style    : inherit;
}

/* Overrides Chrome autofill yellow background color. */
.rrui__input-field:-webkit-autofill
{
	box-shadow : 0 0 0 1000px var(--rrui-input-field-background-color) inset;
}

/* Overrides Chrome autofill yellow background color (when `<TextInput/>` is focused). */
.rrui__input-field:focus:-webkit-autofill
{
	box-shadow : 0 0 0 1000px var(--rrui-input-field-background-color-focus) inset;
}

/* Overrides Chrome autofill yellow background color (when `<TextInput/>` is invalid). */
.rrui__input-field--invalid:-webkit-autofill,
/* Overrides the corresponding `:focus` CSS rule. */
.rrui__input-field--invalid:focus:-webkit-autofill
{
	box-shadow : 0 0 0 1000px var(--rrui-input-field-background-color-error) inset;
}

/* For `<TextInput/>` and alike. */
.rrui__input-field,
/* For `<Select/>`. */
.rrui__select__button
{
	/* Stretches the inputs to full column width by default. */
	/* Because everyone uses CSS grids today. */
	width : 100%;

	padding-left  : var(--rrui-input-field-side-padding);
	padding-right : var(--rrui-input-field-side-padding);

	background-color : var(--rrui-input-field-background-color);
	border-radius : var(--rrui-input-field-border-radius);
}

/* For `<TextInput/>` and alike. */
.rrui__input-field,
/* For `<Select/>`. */
.rrui__select__button,
/* For `<Select native/>`. */
.rrui__select__native
{
	border-width  : 0;
	border-bottom-width : var(--rrui-input-field-border-width);
	border-style  : solid;
	border-color  : var(--rrui-input-field-border-color);
	transition    : var(--rrui-input-field-transition);
}

/* For `<TextInput/>` and alike. */
.rrui__input-field:focus,
/* For `<Select/>` when `<button/>` is focused. */
.rrui__select__button:focus,
/* For `<Select/>` when `<select/>` is focused. */
.rrui__select__native:focus + .rrui__select__button,
/* For `<Select native={true}/>`. */
.rrui__select__native:focus
{
	border-color     : var(--rrui-input-field-border-color-focus);
	background-color : var(--rrui-input-field-background-color-focus);
}

/* For `<TextInput/>` and alike. */
.rrui__input-field--invalid,
/* Overrides the corresponding `:focus` CSS rule. */
.rrui__input-field--invalid:focus,
/* For `<Select/>` when `<button/>` is focused. */
.rrui__select__button--invalid,
/* Overrides the corresponding `:focus` CSS rule. */
.rrui__select__button--invalid:focus,
/* For `<Select/>` when `<select/>` is focused. */
/* Overrides the corresponding `:focus` CSS rule. */
.rrui__select__native--invalid:focus + .rrui__select__button,
/* For `<Select native={true}/>`. */
.rrui__select__native--invalid,
/* Overrides the corresponding `:focus` CSS rule. */
.rrui__select__native--invalid:focus
{
	border-color     : var(--rrui-input-field-border-color-error);
	background-color : var(--rrui-input-field-background-color-error);
}

.rrui__input-field
{
	height     : 100%;
	font-size  : inherit;
	box-sizing : border-box;
}

/* Resets height back to 100% for multiline text input */
.rrui__input-field--multiline
{
	height : auto;
	resize : none;
}

/* For `<TextInput/>` and alike. */
.rrui__input-field--disabled,
/* For `<Select/>`. */
.rrui__select__button--disabled
{
	/* "pointer-events" prevents "cursor: wait" from working. */
	pointer-events : none;
	/* cursor : default; */
	background-color : var(--rrui-input-field-background-color-disabled);
}
