.rrui__input-field
{
	outline       : none;
	border-radius : 0;
	/* Some web browsers add <input/> padding by default */
	padding       : 0;
	appearance    : none;
	font-size     : inherit;
	font-family   : inherit;
	font-weight   : inherit;
	font-style    : inherit;
}

/* Stretches the inputs to full column width by default. */
/* Because everyone uses CSS grids today. */
.rrui__input-field,
.rrui__select__button,
.rrui__select__autocomplete
{
	width : 100%;
}

.rrui__input-field,
.rrui__select__button
{
	border        : none;
	border-bottom : 1px solid var(--rrui-gray-color-light);
	transition    : border 0.1s;
}

.rrui__input-field:focus,
.rrui__select__button:focus,
.rrui__select__native-expanded:focus + .rrui__select__button
{
	border-bottom-color: var(--rrui-accent-color);
}

.rrui__input-field
{
	height     : 100%;
	font-size  : inherit;
	box-sizing : border-box;
}

/* Resets height back to 100% for multiline text input */
.rrui__input-field--multiline
{
	height : auto;
	resize : none;
}

.rrui__input-field--invalid,
.rrui__input-field--invalid:focus
{
	border-color : var(--rrui-error-color);
}

.rrui__input-field--disabled
{
	cursor           : default;
	background-color : transparent;
}