.rrui__input-field
{
	outline       : none;
	border-radius : 0;
	/* Some web browsers add <input/> padding by default */
	padding       : 0;
	appearance    : none;
	font-size     : inherit;
	font-family   : inherit;
	font-weight   : inherit;
	font-style    : inherit;
}

/* Overrides Chrome autofill yellow background color */
.rrui__input-field:-webkit-autofill
{
	box-shadow : 0 0 0 1000px white inset;
}

.rrui__input-field,
.rrui__select__button
{
	/* Stretches the inputs to full column width by default. */
	/* Because everyone uses CSS grids today. */
	width : 100%;

	padding-left  : var(--rrui-input-field-side-padding);
	padding-right : var(--rrui-input-field-side-padding);
}

.rrui__input-field,
.rrui__select__button,
.rrui__select__native
{
	border-width  : 0;
	border-bottom-width : 1px;
	border-style  : solid;
	border-color  : var(--rrui-input-field-border-color);
	transition    : border 0.1s;
}

.rrui__input-field:focus,
.rrui__select__button:focus,
.rrui__select__native:focus + .rrui__select__button
{
	border-color: var(--rrui-input-field-border-color-focus);
}

.rrui__input-field--invalid,
.rrui__input-field--invalid:focus,
.rrui__select__button--invalid,
.rrui__select__button--invalid:focus,
.rrui__select__native--invalid,
.rrui__select__native:focus + .rrui__select__button--invalid
{
	border-color: var(--rrui-error-color);
}

.rrui__input-field
{
	height     : 100%;
	font-size  : inherit;
	box-sizing : border-box;
}

/* Resets height back to 100% for multiline text input */
.rrui__input-field--multiline
{
	height : auto;
	resize : none;
}

.rrui__input-field--invalid,
.rrui__input-field--invalid:focus
{
	border-color : var(--rrui-error-color);
}

.rrui__input-field--disabled
{
	cursor           : default;
	background-color : transparent;
}