.rrui__list
{
	margin           : 0;
	padding-left     : 0;
	padding-top      : var(--rrui-list-vertical-padding);
	padding-bottom   : var(--rrui-list-vertical-padding);
	overflow-y       : auto;
	background-color : var(--rrui-list-item-background-color);
	color            : var(--rrui-list-item-text-color);
	list-style-type  : none;
	overflow-x       : hidden;
	box-sizing       : border-box;
}

.rrui__list__item
{
	display     : flex;
	align-items : center;
	width       : 100%;

	overflow      : hidden;
	text-overflow : ellipsis;

	/*
	This side padding is also connected to
	`.rrui__select__options--left-aligned`'s `left`,
	`.rrui__select__options--right-aligned`'s `right`
	and `.rrui__select__options`'s `min-width`.
	*/
	padding-left  : var(--rrui-list-item-side-padding);
	padding-right : var(--rrui-list-item-side-padding);

	color : inherit;

	box-sizing  : border-box;
	text-align  : left;
	white-space : nowrap;
}

.rrui__list__item:hover
{
	background-color : var(--rrui-list-item-background-color-focus);
	color            : var(--rrui-list-item-text-color-focus);
}

.rrui__list__item:active
{
	background-color : var(--rrui-list-item-background-color-selected);
	color            : var(--rrui-list-item-text-color-selected);
}

.rrui__list__item--button
{
	height : var(--rrui-list-item-height);
}

.rrui__list__item--divider
{
	padding-left   : 0;
	padding-right  : 0;
	padding-top    : var(--rrui-list-vertical-padding);
	padding-bottom : var(--rrui-list-vertical-padding);
	pointer-events : none;
}

.rrui__list__item--focus
{
	background-color : var(--rrui-list-item-background-color-focus);
	color            : var(--rrui-list-item-text-color-focus);
}

.rrui__list__item--selected,
.rrui__list__item--selected:hover
{
	background-color : var(--rrui-list-item-background-color-selected);
	color            : var(--rrui-list-item-text-color-selected);
}

.rrui__list__item-icon
{
	margin-right : var(--rrui-list-item-icon-margin);
	flex-shrink  : 0;
}

.rrui__list__item--disabled
{
	/* "pointer-events" prevents "cursor: wait" from working */
	pointer-events : none;
}

.rrui__list__items--scroll
{
	/* https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/ */
	overflow-y : scroll;
	-webkit-overflow-scrolling : touch;
}