.rrui__slideout-menu
{
	position : fixed;
	left     : 0;
	top      : 0;
	bottom   : 0;
	z-index  : 1;
	min-height : 100%;
	overflow-y : auto;
	opacity    : 0.9;
	background-color : black;

	transform  : translate3d(-100%, 0, 0);
	transition : transform 120ms ease-out;
}

.rrui__slideout-menu--shown
{
	transform  : translate3d(0, 0, 0);
	box-shadow : 0 0 0.2em rgba(0, 0, 0, 0.4);
}

.rrui__slideout-menu-button
{
	display     : inline-block;
	padding     : calc(0.3rem * 1.5);
	line-height : 0;
}

.rrui__slideout-menu-button__icon
{
	display : block;
	width   : calc(0.3rem * 5);
	height  : calc(0.3rem * 5);
}

.rrui__slideout-menu-button__icon-path
{
	fill: black;
}

.rrui__slideout-menu-button:active .rrui__slideout-menu-button__icon-path
{
	fill: #018395;
}