.rrui__menu-button
{
	display     : inline-block;
	width       : var(--rrui-input-height);
	height      : var(--rrui-input-height);
	padding     : calc(var(--rrui-unit) / 2);
	margin      : calc(-1 * var(--rrui-unit) / 2);
	line-height : 0;
	color       : var(--rrui-black-color);
	outline     : none;
}

.rrui__menu-button
{
  position    : relative;
  cursor      : pointer;
  user-select : none;
}

/*
.rrui__menu-button:active
{
	color : var(--rrui-accent-color);
}
*/