.rrui__menu-button
{
	position    : relative;
	display     : inline-block;
	width       : calc(var(--rrui-input-height) + var(--rrui-unit));
	height      : calc(var(--rrui-input-height) + var(--rrui-unit));
	padding     : calc(var(--rrui-unit) / 2);
	margin      : calc(-1 * var(--rrui-unit) / 2);
	line-height : 0;
	color       : var(--rrui-black-color);
	/* This CSS rule can be removed if .rrui__button-reset gets it. */
	box-sizing  : border-box;
}

/*
.rrui__menu-button:active
{
	color : var(--rrui-accent-color);
}
*/