.rrui__slideout-menu-button
{
	display     : inline-block;
	padding     : calc(var(--rrui-unit) / 2);
	margin      : calc(-1 * var(--rrui-unit) / 2);
	line-height : 0;
	color       : var(--rrui-black-color);
}

.rrui__slideout-menu-button:active
{
	color : var(--rrui-accent-color);
}

.rrui__slideout-menu-button__icon
{
	display : block;
	width   : var(--rrui-input-height);
	height  : var(--rrui-input-height);
}

.rrui__slideout-menu-button__icon-path
{
	fill : currentColor;
}