.rrui__segmented-control
{
	position : relative;
	white-space : nowrap;
}

.rrui__segmented-control .rrui__input
{
	display : flex;
}

.rrui__segmented-control__option
{
	flex           : 1;
	height         : 100%;
	padding-left   : calc(var(--rrui-unit) * 1.5);
	padding-right  : calc(var(--rrui-unit) * 1.5);

	background-color : transparent;
	border           : 1px solid var(--rrui-accent-color);
	border-radius    : var(--rrui-border-radius-big);
	outline          : none;

	transition : all 50ms ease-out;
}

.rrui__segmented-control__option--first
{
	border-top-right-radius    : 0;
	border-bottom-right-radius : 0;
	border-right               : none;
}

.rrui__segmented-control__option--last
{
	border-top-left-radius    : 0;
	border-bottom-left-radius : 0;
}

.rrui__segmented-control__option--middle
{
	border-radius : 0;
	border-right  : none;
}

.rrui__segmented-control__option:focus:not(:active):not(.rrui__segmented-control__option--selected)
{
	color : var(--rrui-accent-color);
}

.rrui__segmented-control__option:active
{
	color            : var(--rrui-white-color);
	background-color : var(--rrui-accent-color-light);
	transition       : none;
}

/*
.rrui__rich__fallback .rrui__segmented-control__option:active
{
	color            : var(--rrui-black-color);
	background-color : transparent;
}
*/

/*
.rrui__rich__fallback .rrui__segmented-control__option input
{
	margin-left: 0;
}
*/

.rrui__segmented-control__option--selected
{
	color            : var(--rrui-white-color);
	background-color : var(--rrui-accent-color);
}

.rrui__segmented-control__option
{
  cursor : pointer;
}

.rrui__segmented-control__option--disabled
{
  cursor : default;
}