.rrui__select
{
	/* This is for `.rrui__select__options` to be positioned
	   correctly relative to the `<Select/>` itself. */
	position : relative;
	user-select : none;
}

.rrui__select .rrui__options-list
{
	/*
	`<Select/>` options text should be at least fully visible.
	At the same time `<Select/>` options should stretch themselves
	horizontally to the width of the containing column (when using grid layout).
	*/
	width : calc(100% + var(--rrui-list-item-side-padding) * 2);

	/*
	`margin-top` is constituted by:
	- `.rrui__select__options` `padding-top`.
	- `.rrui__input` `height`.
	- half of the difference between `.rrui__select__option`'s `height`/`line-height` and `.rrui__input` `height`.
	*/
	margin-top : calc(-1 * (var(--rrui-list-vertical-padding) + var(--rrui-input-height) + (var(--rrui-list-item-height) - var(--rrui-input-height)) / 2));
}

.rrui__select__button
{
	height     : 100%;
	box-sizing : border-box;

	color : inherit;

	/* Not introducing an animation on `.rrui__select__option`
	   because it would introduce a little clutter due to
	   focused option animation in autocomplete mode */
	transition : color 30ms ease-out;

	/* Because Chrome adds `text-align: center` for all buttons */
	text-align : left;
}

.rrui__select__button--expanded
{
	color : var(--rrui-accent-color);
}

.rrui__select__button--empty .rrui__select__selected-label
{
	color: var(--rrui-gray-color);
}

.rrui__select__button--invalid
{
	border-bottom-color : var(--rrui-error-color);
}

.rrui__select__button:active .rrui__select__selected-label,
.rrui__select__button:active .rrui__select__arrow,
.rrui__select__native:active + .rrui__select__button .rrui__select__selected-label,
.rrui__select__native:active + .rrui__select__button .rrui__select__arrow
{
	color : var(--rrui-accent-color);
}

.rrui__select__selected-content
{
	display     : flex;
	align-items : center;
}

.rrui__select__selected-label
{
	flex          : 1 1 auto;
	overflow      : hidden;
	text-overflow : ellipsis;
}

.rrui__select .rrui__ellipsis
{
	position : absolute;
	right    : calc(var(--rrui-unit) / 3);
	top      : calc(50% - var(--rrui-unit) / 6);

	pointer-events : none;
}

.rrui__select__arrow
{
	width  : 0;
	height : 0;

	margin-left   : calc(var(--rrui-unit) * 2 / 3);
	margin-right  : calc(var(--rrui-unit) * 2 / 3);
	margin-top    : 0.1em;

	opacity : 0.6;
	color   : var(--rrui-gray-color);

	/*transition : opacity 100ms ease-out;*/

	/* border-width: arrow_height arrow_width/2 0 arrow_width/2 */
	border-width : 0.35em 0.22em 0 0.22em;

	border-style       : solid;
	border-left-color  : transparent;
	border-right-color : transparent;
}

.rrui__select--compact
{
	/* Reverts `width: 100%` set at the top of this file */
	width : auto;
	/* If it's `compact` then it's most likely inlined */
	display : inline-block;
}

.rrui__select--compact .rrui__expandable-list
{
	width : auto;
}

.rrui__select__button--disabled
{
	/* "pointer-events" prevents "cursor: wait" from working */
	pointer-events : none;
}

/* Stretches the inputs to full column width by default. */
/* Because everyone uses CSS grids today. */
.rrui__select__button
{
	width : 100%;
}

.rrui__select__native
{
	cursor : pointer;
	outline : none;
}

.rrui__select__native--overlay
{
	position : absolute;
	height   : 100%;
	width    : 100%;
	z-index  : 1;
	opacity  : 0;
}

.rrui__select__toggler
{
	display : inline-block;
}