.rrui__snackbar__container
{
	display        : flex;
	position       : fixed;
	left           : 0;
	right          : 0;
	bottom         : 0;
	pointer-events : none;
	z-index        : 1;
	margin-bottom  : var(--rrui-snackbar-margin);
	margin-left    : var(--rrui-snackbar-margin);
	transition     : all 225ms cubic-bezier(0, 0, 0.2, 1);
	transform      : translateY(0);
	visibility     : visible;
}

.rrui__snackbar__container--hidden
{
	transition : all 195ms cubic-bezier(0.4, 0, 0.6, 1);
	visibility : hidden;
}

.rrui__snackbar
{
	flex-grow      : 0;
	pointer-events : auto;

	background : var(--rrui-black-color);
	color      : var(--rrui-white-color);

	border-radius : var(--rrui-border-radius-small);

	padding-left  : var(--rrui-snackbar-side-padding);
	padding-right : var(--rrui-snackbar-side-padding);
	height        : var(--rrui-snackbar-height);
	line-height   : var(--rrui-snackbar-height);
}

.rrui__snackbar__text
{
	overflow : 'hidden';
}