.rrui__snackbar__container
{
	display        : flex;
	position       : fixed;
	left           : 0;
	right          : 0;
	bottom         : 0;
	pointer-events : none;
	z-index        : 1;
}

.rrui__snackbar
{
	flex-grow      : 0;
	margin         : auto;
	pointer-events : auto;

	background : black;
	color      : white;

	border-top-left-radius  : 3pt;
	border-top-right-radius : 3pt;

	padding-left   : calc(0.3rem * 3);
	padding-right  : calc(0.3rem * 3);
	padding-top    : calc(0.3rem * 2);
	padding-bottom : calc(0.3rem * 2);
}