.rrui__switch
{
	display     : inline-flex;
	align-items : center;

	cursor      : pointer;
	user-select : none;

	-webkit-tap-highlight-color : transparent;
	tap-highlight-color         : transparent;
}

.rrui__switch--disabled
{
	cursor : default;
}

.rrui__switch--label
{
	display     : inline-flex;
	align-items : center;
}

.rrui__switch__switch
{
	display         : flex;
	align-items     : center;
	justify-content : center;
	position        : relative;
	line-height     : 0;
}

.rrui__switch__input
{
	left   : -30%;
	right  : -30%;
	width  : 160%;
	height : 180%;
	cursor : pointer;
}

.rrui__switch__label--left
{
	margin-right : var(--rrui-control-label-margin);
}

.rrui__switch__label--right
{
	margin-left : var(--rrui-control-label-margin);
}

.rrui__switch__groove
{
	position : relative;
	display  : inline-block;

	width  : 1.65em;
	height : 1em;

	color            : var(--rrui-switch-accent-color);
	background-color : var(--rrui-switch-background-color);
	box-shadow       : inset 0 0 0 0.0625em rgba(0,0,0,0.16);
	border-radius    : 0.5em;
	transition       : all 0.40s cubic-bezier(.17,.67,.43,.98);
}

.rrui__switch__input:focus + .rrui__switch__groove
{
	box-shadow : inset 0 0 0 0.0625em rgba(0,0,0,0.16), var(--rrui-switch-focus-outline-shadow);
}

.rrui__switch__groove--on
{
	box-shadow : inset 0 0 0 0.73em currentColor;
}

.rrui__switch__input:focus + .rrui__switch__groove--on
{
	box-shadow : inset 0 0 0 0.73em currentColor, var(--rrui-switch-focus-outline-shadow);
}

.rrui__switch__knob
{
	position      : absolute;
	width         : 0.875em;
	height        : 0.875em;
	border-radius : 0.4375em;
	top           : 0.0625em;
	left          : 0.0625em;
	background-color : var(--rrui-switch-background-color);
	box-shadow    : inset 0 0 0 0.03em rgba(0,0,0,0.3), inset 0 0 0 0.03em transparent, 0 0 0.05em rgba(0,0,0,0.05), 0 0.1em 0.2em rgba(0,0,0,0.2);
	transition    : all 0.25s ease-out;
}

.rrui__switch__input:focus + .rrui__switch__groove + .rrui__switch__knob
{
	box-shadow : inset 0 0 0 0.03em rgba(0,0,0,0.3), inset 0 0 0 0.03em var(--rrui-switch-knob-border-color-focus), 0 0 0.05em rgba(0, 0, 0, 0.05), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
}

.rrui__switch__knob--on
{
	left : 0.7125em;
}