.rrui__switcher
{
	position : relative;
	white-space : nowrap;
}

.rrui__switcher .rrui__input
{
	display : flex;
}

.rrui__switcher__option
{
	flex           : 1;
	height         : 100%;
	padding-left   : calc(var(--rrui-unit) * 1.5);
	padding-right  : calc(var(--rrui-unit) * 1.5);

	background-color : var(--rrui-switcher-background-color);
	color            : var(--rrui-switcher-text-color);
	border           : 1px solid var(--rrui-switcher-text-color);
	border-radius    : var(--rrui-border-radius-big);

	transition : all 50ms ease-out;
}

.rrui__switcher__option--first
{
	border-top-right-radius    : 0;
	border-bottom-right-radius : 0;
	border-right               : none;
}

.rrui__switcher__option--last
{
	border-top-left-radius    : 0;
	border-bottom-left-radius : 0;
}

.rrui__switcher__option--middle
{
	border-radius : 0;
	border-right  : none;
}

.rrui__switcher__option:focus:not(:active):not(.rrui__switcher__option--selected)
{
	color : var(--rrui-switcher-text-color);
}

.rrui__switcher__option:active
{
	color            : var(--rrui-switcher-text-color-active);
	background-color : var(--rrui-switcher-background-color-active);
	/*border-color     : var(--rrui-switcher-background-color);*/
	transition       : none;
}

.rrui__switcher__option--selected
{
	color            : var(--rrui-switcher-text-color-selected);
	background-color : var(--rrui-switcher-background-color-selected);
	/*border-color     : var(--rrui-switcher-background-color-selected);*/
}

.rrui__switcher__option
{
  cursor : pointer;
}

.rrui__switcher__option--disabled
{
  cursor : default;
}