.rrui__text-input__label--invalid
{
	color : var(--rrui-error-color);
}

.rrui__input-field:not(:focus) + .rrui__text-input__label--placeholder
{
	transform : translateY(0) scale(1);
}

/* Set the default height of multiline `<TextInput/>`s. */
.rrui__input-field--multiline
{
	height : var(--rrui-multiline-text-height);
}