.rrui__tooltip
{
	display     : flex;
	align-items : center;

	padding-left  : var(--rrui-tooltip-side-padding);
	padding-right : var(--rrui-tooltip-side-padding);
	height        : var(--rrui-tooltip-height);
	margin-top    : calc(var(--rrui-unit) * -1);

	color            : var(--rrui-tooltip-text-color);
	background-color : var(--rrui-tooltip-background-color);

	border-radius : var(--rrui-border-radius-small);

	cursor : default;
}

.rrui__tooltip
{
	opacity    : 0;
	transform  : translateY(0.8em) scale(0.97);
}

.rrui__tooltip--after-show
{
	opacity   : 1;
	transform : translateY(0) scale(1);
}

.rrui__tooltip--before-hide
{
	opacity   : 0;
	transform : translateY(0.8em) scale(0.97);
}

.rrui__tooltip--after-show
{
	transition : opacity 90ms ease-out, transform 200ms ease-out;
}

.rrui__tooltip--before-hide
{
	transition : opacity 150ms ease-out, transform 200ms ease-out;
}

/* Prevents entering text selection mode
   on mobile devices when tapping down and holding */
.rrui__tooltip__target
{
	user-select : none;
}