.rrui__tooltip
{
	display     : flex;
	align-items : center;

	padding-left  : var(--rrui-tooltip-side-padding);
	padding-right : var(--rrui-tooltip-side-padding);
	height        : var(--rrui-tooltip-height);

	color            : var(--rrui-tooltip-text-color);
	background-color : var(--rrui-tooltip-background-color);

	border-radius : var(--rrui-border-radius-small);

	cursor : default;
}

.rrui__tooltip
{
	opacity    : 0;
	transform  : translateY(var(--rrui-tooltip-y-hidden));
}

.rrui__tooltip--after-show
{
	opacity   : 1;
	transform : translateY(var(--rrui-tooltip-y-visible));
}

.rrui__tooltip--before-hide
{
	opacity   : 0;
	transform : translateY(var(--rrui-tooltip-y-hidden));
}

.rrui__tooltip--after-show,
.rrui__tooltip--before-hide
{
	transition : opacity var(--rrui-tooltip-animation-duration), transform var(--rrui-tooltip-animation-duration);
}

/* Prevents entering text selection mode
   on mobile devices when tapping down and holding */
.rrui__tooltip__target
{
	user-select : none;
}