.rrui__tooltip
{
	color            : var(--rrui-white-color);
	background-color : var(--rrui-black-color);

	border-radius : var(--rrui-border-radius-small);

	padding-left  : var(--rrui-tooltip-side-padding);
	padding-right : var(--rrui-tooltip-side-padding);
	height        : var(--rrui-tooltip-height);
	line-height   : var(--rrui-tooltip-height);
	margin-top    : calc(var(--rrui-unit) * -1);

	opacity    : 0;
	transform  : translateY(0.3em) scale(0.95);

	cursor : default;
}

.rrui__tooltip--after-show
{
	opacity   : 1;
	/* transform : scale(1); */
	transform : translateY(0) scale(1);
}

.rrui__tooltip--before-hide
{
	opacity   : 0;
	/* transform : scale(0.8); */
	transform : translateY(0.3em) scale(0.92);
}

.rrui__tooltip--after-show
{
	transition : opacity 90ms ease-out, transform 120ms ease-out;
}

.rrui__tooltip--before-hide
{
	transition : opacity 120ms ease-out, transform 120ms ease-out;
}

/* Prevents entering text selection mode
   on mobile devices when tapping down and holding */
.rrui__tooltip__target
{
	user-select : none;
}